# Intellij
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
bin/

# Maven
log/
target/

# Gradle
.gradle/
gradle/
build/
out/

# Project Dependencies
lib/

# Misc
META-INF/
